# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual env (Poetry або venv)
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# PostgreSQL dumps
*.sql

# VSCode
.vscode/

# PyCharm
.idea/

# System
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Migrations 
core/migrations/
*/migrations/


